<mat-nav-list>
  <h3 mat-subheader>Project</h3>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
    <span mat-line>Project Dashboard</span>
    <span mat-line mat-subheader>View all projects</span>
  </mat-list-item>
  <h3 mat-subheader>Tasks</h3>
  <mat-list-item>
    <mat-icon mat-list-icon [svgIcon]="today"></mat-icon>
    <span mat-line>Calendar</span>
    <span mat-line mat-subheader>View tasks in calendar</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="tasks"></mat-icon>
    <span mat-line>All tasks</span>
    <span mat-line mat-subheader>View all my tasks</span>
  </mat-list-item>
</mat-nav-list>
